**Belt Exam:**Version A: Intermediate ML

**Student Name:** Mwebaze Junior

Housing

Problem:

A house-flipping company would like to identify underpriced homes by comparing asking prices to predicted sale prices. They would like to segment homes into groups to analyze what kinds of homes there are. They would also like a model that predicts the selling price of a home.

The company has provided publicly available data from the King County Assessor's office to use for clustering and prediction.
Data notes:

BrickStone is the percentage of a house made of brick or stone.

**Part 1: Clustering instructions:**

The house-flipping company would like you to segment the homes sold in the database and create an analytical report on the clusters, describing each cluster and describing how they are different. The data has had some cleaning work performed on it, but you should verify that it is ready for clustering.

1.**Load this dataset for modeling**

In [113]:
#import required libraries
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from tensorflow.keras import layers
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import tensorflow as tf
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import silhouette_score
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler

In [114]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [115]:
filename = '/content/drive/MyDrive/Week2_data/Machine Learning Data Sets/option_A_clustering_df - option_A_clustering_df.csv'
df = pd.read_csv(filename)
df.head()

,SalePrice,SqFt1stFloor,SqFtHalfFloor,SqFt2ndFloor,SqFtUpperFloor,SqFtTotLiving,SqFtTotBasement,SqFtFinBasement,SqFtGarageBasement,SqFtGarageAttached,...,SqFtEnclosedPorch,SqFtDeck,BrickStone,Bedrooms,BathHalfCount,Bath3qtrCount,BathFullCount,YrBuilt,Longitude,Latitude
0,400000,1590,0,0,0,3180,1590,1590,0,600,...,0,220,0,6,0,2,1,1965,-122.196399,47.336118
1,474250,1390,0,0,0,2200,810,810,0,0,...,0,340,0,4,1,0,1,1945,-122.361913,47.509874
2,667950,1010,0,1515,0,2525,0,0,0,400,...,0,0,0,4,1,0,2,2019,-122.156684,47.437557
3,659000,660,0,540,0,1820,620,620,0,0,...,0,100,0,3,1,0,2,2016,-122.370252,47.565146
4,656500,2310,0,0,0,2310,0,0,0,440,...,0,320,0,3,0,0,2,1967,-122.184194,47.730389

**check data set information**

In [116]:
# Check the data frame info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4944 entries, 0 to 4943
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SalePrice           4944 non-null   int64
 1   SqFt1stFloor        4944 non-null   int64
 2   SqFtHalfFloor       4944 non-null   int64
 3   SqFt2ndFloor        4944 non-null   int64
 4   SqFtUpperFloor      4944 non-null   int64
 5   SqFtTotLiving       4944 non-null   int64
 6   SqFtTotBasement     4944 non-null   int64
 7   SqFtFinBasement     4944 non-null   int64
 8   SqFtGarageBasement  4944 non-null   int64
 9   SqFtGarageAttached  4944 non-null   int64
 10  DaylightBasement    4944 non-null   int64
 11  SqFtOpenPorch       4944 non-null   int64
 12  SqFtEnclosedPorch   4944 non-null   int64
 13  SqFtDeck            4944 non-null   int64
 14  BrickStone          4944 non-null   int64
 15  Bedrooms            4944 non-null   int64
 16  BathHalfCount       4944 non-null   int64
 17  Bath3qtrCount       4944 non-null   int64
 18  BathFullCount       4944 non-null   int64
 19  YrBuilt             4944 non-null   int64
 20  Longitude           4944 non-null   float64
 21  Latitude            4944 non-null   float64
dtypes: float64(2), int64(20)
memory usage: 849.9 KB

**check data types**

In [117]:
# Check the data types of each column
df.dtypes

SalePrice               int64
SqFt1stFloor            int64
SqFtHalfFloor           int64
SqFt2ndFloor            int64
SqFtUpperFloor          int64
SqFtTotLiving           int64
SqFtTotBasement         int64
SqFtFinBasement         int64
SqFtGarageBasement      int64
SqFtGarageAttached      int64
DaylightBasement        int64
SqFtOpenPorch           int64
SqFtEnclosedPorch       int64
SqFtDeck                int64
BrickStone              int64
Bedrooms                int64
BathHalfCount           int64
Bath3qtrCount           int64
BathFullCount           int64
YrBuilt                 int64
Longitude             float64
Latitude              float64
dtype: object

check null values

In [118]:
# Check for missing values
df.isna().sum()

SalePrice             0
SqFt1stFloor          0
SqFtHalfFloor         0
SqFt2ndFloor          0
SqFtUpperFloor        0
SqFtTotLiving         0
SqFtTotBasement       0
SqFtFinBasement       0
SqFtGarageBasement    0
SqFtGarageAttached    0
DaylightBasement      0
SqFtOpenPorch         0
SqFtEnclosedPorch     0
SqFtDeck              0
BrickStone            0
Bedrooms              0
BathHalfCount         0
Bath3qtrCount         0
BathFullCount         0
YrBuilt               0
Longitude             0
Latitude              0
dtype: int64

In [119]:
# Print the summary statistics of the data
df.describe()

,SalePrice,SqFt1stFloor,SqFtHalfFloor,SqFt2ndFloor,SqFtUpperFloor,SqFtTotLiving,SqFtTotBasement,SqFtFinBasement,SqFtGarageBasement,SqFtGarageAttached,...,SqFtEnclosedPorch,SqFtDeck,BrickStone,Bedrooms,BathHalfCount,Bath3qtrCount,BathFullCount,YrBuilt,Longitude,Latitude
count,4.944000e+03,4944.000000,4944.000000,4944.000000,4944.000000,4944.000000,4944.000000,4944.000000,4944.000000,4944.000000,...,4944.000000,4944.000000,4944.000000,4944.000000,4944.000000,4944.000000,4944.000000,4944.000000,4944.000000,4944.000000
mean,6.643497e+05,1175.502832,51.758495,349.306837,26.994134,1935.205097,595.065939,334.273463,102.417071,170.282160,...,8.271238,148.908576,4.415858,3.375607,0.387743,0.628236,1.319579,1972.183455,-122.271891,47.572471
std,2.978080e+05,446.398643,174.464172,544.632918,115.331907,764.888792,567.175862,422.825946,187.119944,239.635895,...,37.449815,201.636086,18.643753,0.947061,0.506022,0.651598,0.609963,32.905503,0.086519,0.127187
min,6.000000e+04,260.000000,0.000000,0.000000,0.000000,300.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1900.000000,-122.526072,47.213547
25%,4.500000e+05,880.000000,0.000000,0.000000,0.000000,1390.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,1.000000,1952.000000,-122.346573,47.488749
50%,6.305500e+05,1170.000000,0.000000,0.000000,0.000000,1770.000000,560.000000,110.000000,0.000000,0.000000,...,0.000000,50.000000,0.000000,3.000000,0.000000,1.000000,1.000000,1967.000000,-122.291976,47.576939
75%,7.886125e+05,1450.000000,0.000000,580.000000,0.000000,2360.000000,1070.000000,570.000000,190.000000,400.000000,...,0.000000,257.000000,0.000000,4.000000,1.000000,1.000000,2.000000,2016.000000,-122.192528,47.681099
max,1.998000e+06,3600.000000,2000.000000,3010.000000,1220.000000,6695.000000,3070.000000,2620.000000,1090.000000,1830.000000,...,620.000000,1940.000000,100.000000,8.000000,3.000000,4.000000,5.000000,2019.000000,-122.090088,47.777422

In [120]:
# Check for duplicate rows
df.duplicated().sum()

29

In [121]:
# Drop duplicate rows in df
df.drop_duplicates(inplace=True)

In [122]:
# Check for duplicate rows
df.duplicated().sum()

0

**Prepare the data for modeling**

In [123]:

# Create a StandardScaler object
scaler = StandardScaler()

# Fit the scaler to the data
scaler.fit(df)

# Transform the data using the scaler
df_scaled = scaler.transform(df)

**Use a KMeans model to cluster the houses into an optimal number of clusters.**

    1. Use an elbow plot and silhouette score to find the optimal number of clusters.
    2. There must be between 2 and 10 clusters.
    3. Explain your choice of the number of clusters.

In [ ]:

#Create an empty list of inertias
inertias = []
#Loop through k values between 2 and 10 and store the inertias in the list.
for k in range(2,11):
    kmeans = KMeans(n_clusters=k)
    kmeans.fit(df_scaled)
    inertias.append(kmeans.inertia_)
#Visualize scores
plt.plot(range(2,11), inertias, marker = '.')
plt.xlabel('clusters')
plt.title("Elbow Plot for KMeans Clustering")
plt.ylabel('inertia');

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [ ]:

# Visualize different silhouette scores
# Save silhouette scores for various cluster numbers in list
silhouette_scores = []
for i in range(2, 11):
  kmeans = KMeans(n_clusters = i)
  kmeans.fit(df_scaled)
  silhouette_scores.append(silhouette_score(df_scaled, kmeans.labels_))
# Visualize scores
plt.plot(range(2, 11), silhouette_scores, marker = '.')
plt.xlabel('Number of Clusters')
plt.title("Silhouette Score Plot for KMeans Clustering")
plt.ylabel('Silhouette Score');

**Visualization explaination**

**Based on the Elbow and silhouette score plot we above the following **

1. the optimal number of clusters is 3. This is the point where the silhouette score starts to level off, indicating that adding more clusters will not significantly improve the quality of the clustering.

2. the silhouette score increases rapidly as the number of clusters increases from 2 to 3. This indicates that adding more clusters is improving the quality of the clustering. However, the silhouette score starts to level off after 3 clusters. This indicates that adding more clusters will not significantly improve the quality of the clustering

3. Therefore, the optimal number of clusters is 3. This means that the houses can be best grouped into 3 distinct clusters based on their features.
4. Optimal number of clusters: 5

**Analyze and report on the clusters.**

    1. Create 2 report quality explanatory visualizations showing important differences between the clusters.
    2. Interpret and explain each visualization.

In [ ]:
# Choose the optimal number of clusters (based on elbow plot and silhouette score)
optimal_clusters = 4

# Fit the KMeans model
kmeans = KMeans(n_clusters=optimal_clusters, random_state=42)
df['Cluster'] = kmeans.fit_predict(df_scaled)

In [ ]:
# Group by cluster to get the mean values
cluster_description = df.groupby('Cluster').mean()
cluster_description

In [ ]:
df.dtypes

A bar plot of Saleprice for clusters

In [ ]:
#barplot of cluster and saleprice
plt.figure(figsize=(8, 6))
sns.barplot(data=df, x='Cluster', y='SalePrice', palette='Set1', ci=None)
plt.title('Average Sale Price by Cluster')
plt.xlabel('Cluster')
plt.ylabel('Average Sale Price')
plt.show()

### Interpretation
  - Cluster 0:
This cluster has homes with the lowest value. Factors contributing to this could include low square footage, old construction, undesirable locations, or other premium features.
  - Cluster 1 and 2
This cluster represents homes that are relatively expensive than 0. they might have much more desirable features.
- Cluster 3:
The homes here have a the highest sale price, they might be having more desirable features.

The plot scatter plot that shows the relationship between two variables: SqFtTotLiving (total living area) and SalePrice (sale price). Each data point on the plot represents a single house in the dataset, and the color of each data point indicates the cluster that the house belongs to.

In [ ]:

plt.figure(figsize=(10, 6))
sns.scatterplot(data=df, x='SqFtTotLiving', y='SalePrice', hue='Cluster', palette='Set1')
plt.title('Clusters by SalePrice and Total Living Area')
plt.xlabel('Total Living Area (SqFt)')
plt.ylabel('Sale Price')
plt.show()

Observations:

There is a general positive correlation between total living area and sale price. This means that houses with larger total living areas tend to have higher sale prices.

However, there is also a lot of scatter in the data. This means that there are some houses with large total living areas that have low sale prices, and vice versa.

There is some separation between the clusters. For example, houses in cluster 0 tend to have lower total living areas and sale prices compared to houses in other clusters.

There are a few data points that are far away from the main cluster of data points. These data points represent houses that are either very large or very expensive, compared to the rest of the houses in the dataset.

Insights:

Cluster 0: Houses in this cluster tend to have the smallest total living areas and the lowest sale prices.

Cluster 1: Houses in this cluster have a wide range of total living areas and sale prices. However, they tend to have lower sale prices compared to other clusters.

Cluster 2: Houses in this cluster tend to have the largest total living areas and the highest sale prices.

Cluster 3: Houses in this cluster have a wide range of total living areas and sale prices. However, they tend to have higher sale prices compared to other clusters.

Overall:

The plot shows that there is a positive correlation between total living area and sale price, but this relationship varies across different clusters. This suggests that cluster membership is an important factor to consider when predicting sale price.

**Part 2: Modeling Instructions:**

The house flipping company has provided new data about when the homes were sold and what businesses are nearby. This new data has created a very large number of columns as the businesses, months sold, and years sold are all one-hot encoded.

They would like you to use this new dataset to create a deep-learning model that predicts the likely sale price for a new home coming to market.

Note: SalePrice is your target variable

**Load this dataset for modeling **

In [ ]:

filename = '/content/drive/MyDrive/Week2_data/Machine Learning Data Sets/option_A_modeling_df - option_A_modeling_df.csv'
df2 = pd.read_csv(filename)
df2.head()

In [ ]:
# Check the data frame info
df2.info()

In [ ]:
# Check the data types of each column
df2.dtypes

In [ ]:
# Check for missing values
df2.isna().sum()

In [ ]:
# Print the summary statistics of the data
df2.describe()

In [ ]:
# Check for duplicate rows
df2.duplicated().sum()

In [ ]:
#define x, y
X = df2.drop(columns=['SalePrice'])
y = df2['SalePrice']

**Scale the Data**

In [ ]:
# Instantiate Standard Scaler
scaler = StandardScaler()
# Fit & transform data.
X_scaled = scaler.fit_transform(X)

In [ ]:
X_scaled.shape

In [ ]:
y.shape

In [ ]:
#train-Test Split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

**Use PCA to prepare the data for modeling.**

In [ ]:
from sklearn.decomposition import PCA

# Instantiate PCA with desired number of components
pca = PCA(n_components=50)
# Fit and transform the data
X_train_pca = pca.fit_transform(X_train)
X_test_pca = pca.transform(X_test)

# Print the shape of the reduced data
print(X_train_pca.shape)
print(X_test_pca.shape)

In [ ]:
import tensorflow as tf

# Define the model
model = Sequential([
    Dense(128, activation='relu', input_shape=(X_train_pca.shape[1],)),
    Dense(64, activation='relu'),
    Dense(1)
])
# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])

In [ ]:
# Train the model
history1 = model.fit(X_train_pca, y_train, epochs=50, validation_split=0.2, batch_size=32)

In [ ]:
# Evaluate the model
loss, mae = model.evaluate(X_test_pca, y_test)
print('Test loss:', loss)
print('Test MAE:', mae)

# Make predictions
predictions = model.predict(X_test_pca)

**Model1 has  only one hidden layer and no regularization.**

In [ ]:
# Define the model
model1 = tf.keras.Sequential([
    layers.Dense(64, activation='relu', input_shape=(X_train_pca.shape[1],)),
    layers.Dense(1)
])

model1.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])

In [ ]:
history1 = model1.fit(X_train_pca, y_train, epochs=64, validation_split=0.2, batch_size=32)
loss1, mae1 = model1.evaluate(X_test_pca, y_test)

In [ ]:
# Evaluate the model
loss, mae = model1.evaluate(X_test_pca, y_test)
print('Test loss:', loss)
print('Test MAE:', mae)

# Make predictions
predictions = model.predict(X_test_pca)

**Model2 adds two hidden layers and Batch Normalization to address the potential issue of overfitting.**

In [ ]:
model2 = tf.keras.Sequential([
    layers.Dense(64, activation='relu', input_shape=(X_train_pca.shape[1],)),
    layers.BatchNormalization(),
    layers.Dense(32, activation='relu'),
    layers.BatchNormalization(),
    layers.Dense(1)
])

model2.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])

In [ ]:
history2 = model2.fit(X_train_pca, y_train, epochs=64, validation_split=0.2, batch_size=32)
loss2, mae2 = model2.evaluate(X_test_pca, y_test)

In [ ]:
# Evaluate the model
loss, mae = model2.evaluate(X_test_pca, y_test)
print('Test loss:', loss)
print('Test MAE:', mae)

# Make predictions
predictions = model2.predict(X_test_pca)

**Model3 adds L2 regularization to the hidden layers to further prevent overfitting. L2 regularization penalizes large weights, which can help to prevent the model from learning too complex a function and overfitting to the training data.**

In [ ]:
model3 = tf.keras.Sequential([
    layers.Dense(64, activation='relu', kernel_regularizer=tf.keras.regularizers.l2(0.01), input_shape=(X_train_pca.shape[1],)),
    layers.BatchNormalization(),
    layers.Dense(32, activation='relu', kernel_regularizer=tf.keras.regularizers.l2(0.01)),
    layers.BatchNormalization(),
    layers.Dense(1)
])

model3.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])

In [ ]:
history3 = model3.fit(X_train_pca, y_train, epochs=64, validation_split=0.2, batch_size=32)
loss3, mae3 = model3.evaluate(X_test_pca, y_test)

In [ ]:
# Evaluate the model
loss, mae = model3.evaluate(X_test_pca, y_test)
print('Test loss:', loss)
print('Test MAE:', mae)

# Make predictions
predictions = model3.predict(X_test_pca)

**Choose a final model and justify your choice**

In [ ]:
# Evaluate the model
loss, mae = model1.evaluate(X_test_pca, y_test)
print('Model 1 results:')
print('Test loss:', loss)
print('Test MAE:', mae)

# Make predictions
predictions = model1.predict(X_test_pca)

In [ ]:
# Evaluate the model
loss, mae = model2.evaluate(X_test_pca, y_test)
print('Model 2 results:')
print('Test loss:', loss)
print('Test MAE:', mae)

# Make predictions
predictions = model2.predict(X_test_pca)

In [ ]:
# Evaluate the model
loss, mae = model3.evaluate(X_test_pca, y_test)
print('Model 3 results:')
print('Test loss:', loss)
print('Test MAE:', mae)

# Make predictions
predictions = model3.predict(X_test_pca)

In [ ]:
# Function to evaluate model
def evaluate_model(model, X_train, y_train, X_test, y_test):
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    metrics = {
        'Train MAE': mean_absolute_error(y_train, y_train_pred),
        'Test MAE': mean_absolute_error(y_test, y_test_pred),
        'Train MSE': mean_squared_error(y_train, y_train_pred),
        'Test MSE': mean_squared_error(y_test, y_test_pred),
        'Train R2': r2_score(y_train, y_train_pred),
        'Test R2': r2_score(y_test, y_test_pred),

    }

    return metrics

# Evaluate each model
metrics1 = evaluate_model(model1, X_train_pca, y_train, X_test_pca, y_test)
metrics2 = evaluate_model(model2, X_train_pca, y_train, X_test_pca, y_test)
metrics3 = evaluate_model(model3, X_train_pca, y_train, X_test_pca, y_test)

print('Model 1 Metrics:', metrics1)
print('Model 2 Metrics:', metrics2)
print('Model 3 Metrics:', metrics3)

** Oberving the model results of the above three models, I choose MODEL1 looking its  **Test Loss of 508327231488.0**,
**Test MAE: 651469.1875**  and **Rsquared value** being lower than that of MODEL2 and MODEL3 **

**Evaluate your final model with multiple metrics**

In [ ]:
# Function to evaluate model
def evaluate_model(model, X_train, y_train, X_test, y_test):
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    metrics = {
       'Train MAE': mean_absolute_error(y_train, y_train_pred),
        'Test MAE': mean_absolute_error(y_test, y_test_pred),
        'Train MSE': mean_squared_error(y_train, y_train_pred),
        'Test MSE': mean_squared_error(y_test, y_test_pred),
        'Train R2': r2_score(y_train, y_train_pred),
        'Test R2': r2_score(y_test, y_test_pred),

    }

    return metrics

# Evaluate  model1
metrics1 = evaluate_model(model1, X_train_pca, y_train, X_test_pca, y_test)

print('Model 1 Metrics:', metrics1)

In [ ]:
# Evaluate the model
loss, mae = model1.evaluate(X_test_pca, y_test)
print('Model 1 results:')
print('Test loss:', loss)
print('Test MAE:', mae)

# Make predictions
predictions_model1 = model1.predict(X_test_pca)

# Evaluate the model
loss, mae = model2.evaluate(X_test_pca, y_test)
print('Model 2 results:')
print('Test loss:', loss)
print('Test MAE:', mae)

# Make predictions
predictions_model2 = model2.predict(X_test_pca)

# Evaluate the model
loss, mae = model3.evaluate(X_test_pca, y_test)
print('Model 3 results:')
print('Test loss:', loss)
print('Test MAE:', mae)

# Make predictions
predictions_model3 = model3.predict(X_test_pca)

The metrics in model1 suggest that the model will solve the business problem moderately well. this is deducted based on the rsquared value if the trained data being lower than of the test data.
secondly looking at the results of the MAE of the trained data, its selightly lower than that of the test