<a href="https://colab.research.google.com/github/mwebazejunior/mwebazejunior/blob/main/Groupby_Assignment_MwebazeJunior.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Group by Core

1) What is the average age for the entire data set?

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd
filename = "/content/drive/MyDrive/Week2_data/insurance_mod.csv"
df=pd.read_csv(filename)
df.head(5)

   age     sex     bmi  children  smoker     region  charges
0   19  female  27.900         0       1  southwest  16885.0
1   18    male  33.770         1       0  southeast   1726.0
2   28    male  33.000         3       0  southeast   4449.0
3   33    male  22.705         0       0  northwest  21984.0
4   32    male  28.880         0       0  northwest   3867.0

In [5]:
Average = df['age'].mean()
print(Average)

39.20702541106129

2) What is the age of the oldest person in the entire data set (the maximum age)?

In [6]:
print(df['age'].max())

64

3) What is the age of the youngest person in the entire data set (the minimum age)?

In [7]:
print(df['age'].min())

18

4) What is the average for charges for the entire data set?

In [8]:
Average = df['charges'].mean()
print(Average)

13270.414798206279

5) What is the average for charges grouped by sex?

In [10]:
df.groupby('sex')['charges'].mean()

sex
female    12569.584592
male      13956.730769
Name: charges, dtype: float64

6) What is the average for charges, grouped by if the person is a smoker?

In [12]:
df.groupby('smoker')['charges'].mean()

smoker
0     8434.260338
1    32050.226277
Name: charges, dtype: float64

7) What is the average for charges grouped by if the person smokes and their sex?

In [13]:
df.groupby(['smoker','sex'])['charges'].mean()

smoker  sex
0       female     8762.307130
        male       8087.177950
1       female    30678.982609
        male      33042.006289
Name: charges, dtype: float64