Required Task:

    Be sure to perform a train test split on the train.csv so you can evaluate your models.
    Create and evaluate 3 iterations of a deep learning model to predict housing prices using the techniques you have learned to optimize your model's performance. Be sure to include some form of regularization with at least one model.
    Select your best model!

In [36]:
import pandas as pd
filename ='/content/drive/MyDrive/Week2_data/Machine Learning Data Sets/train.csv'
df = pd.read_csv(filename)
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [38]:
df.isna().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [39]:
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [40]:
#Replace missing and infinite values with a specific value
df['LotFrontage'].fillna(0, inplace=True)
df['LotFrontage'] = df['LotFrontage'].replace([np.inf, -np.inf], 0)
df['LotFrontage'] = df['LotFrontage'].astype(int)

In [41]:
unique_values = df['LotFrontage'].unique()

print("Number of unique values:", len(unique_values))
print("Unique values:", unique_values)

Number of unique values: 111
Unique values: [ 65  80  68  60  84  85  75   0  51  50  70  91  72  66 101  57  44 110
  98  47 108 112  74 115  61  48  33  52 100  24  89  63  76  81  95  69
  21  32  78 121 122  40 105  73  77  64  94  34  90  55  88  82  71 120
 107  92 134  62  86 141  97  54  41  79 174  99  67  83  43 103  93  30
 129 140  35  37 118  87 116 150 111  49  96  59  36  56 102  58  38 109
 130  53 137  45 106 104  42  39 144 114 128 149 313 168 182 138 160 152
 124 153  46]

In [25]:
'''
from sklearn.impute import SimpleImputer
import numpy as np

# Create a SimpleImputer object with mean strategy
imputer = SimpleImputer(missing_values=np.nan, strategy="mean")

# Fit the imputer on the DataFrame
imputer.fit(df)

# Transform the DataFrame to impute missing values
df_imputed = pd.DataFrame(imputer.transform(df), columns=df.columns)

# Print the imputed DataFrame
print(df_imputed)

'''

'\nfrom sklearn.impute import SimpleImputer\nimport numpy as np\n\n# Create a SimpleImputer object with mean strategy\nimputer = SimpleImputer(missing_values=np.nan, strategy="mean")\n\n# Fit the imputer on the DataFrame\nimputer.fit(df)\n\n# Transform the DataFrame to impute missing values\ndf_imputed = pd.DataFrame(imputer.transform(df), columns=df.columns)\n\n# Print the imputed DataFrame\nprint(df_imputed)\n'

In [3]:
from sklearn.model_selection import train_test_split

# Split the data into train and test sets
train, test = train_test_split(df, test_size=0.2)

In [42]:
from sklearn.model_selection import train_test_split

# Separate features and target
X = df.drop('SalePrice', axis=1)
y = df['SalePrice']

# Perform train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Print the shapes of the resulting datasets
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (1168, 80)
X_test shape: (292, 80)
y_train shape: (1168,)
y_test shape: (292,)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model1 = Sequential()
model1.add(Dense(64, activation='relu', input_shape=(1168,)))
model1.add(Dense(32, activation='relu'))
model1.add(Dense(1))

model1.compile(loss='mse', optimizer='adam')
model1.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.2)

score1 = model1.evaluate(X_test, y_test)
print("Model 1 score:", score1)

In [ ]:
# Define the model
model2 = Sequential()
model2.add(Dense(64, activation='relu', kernel_regularizer=regularizers.l2(0.01), input_shape=(X_train.shape[1],)))
model2.add(Dense(32, activation='relu', kernel_regularizer=regularizers.l2(0.01)))
model2.add(Dense(1))

# Compile the model
model2.compile(optimizer='adam', loss='mean_squared_error')

# Train the model
model2.fit(X_train, y_train, epochs=50, batch_size=128, validation_split=0.1)

# Evaluate the model
model2_loss, model2_mae, model2_mse = evaluate_model(model2, X_test, y_test)

print(f"Model 2: Loss: {model2_loss:.2f}, MAE: {model2_mae:.2f}, MSE: {model2_mse:.2f}")

In [44]:
print(X_train.dtypes)
print(y_train.dtype)

Id                int64
MSSubClass        int64
MSZoning         object
LotFrontage       int64
LotArea           int64
                  ...
MiscVal           int64
MoSold            int64
YrSold            int64
SaleType         object
SaleCondition    object
Length: 80, dtype: object
int64

In [ ]:
# Define the model
model3 = Sequential()
model3.add(Dense(128, activation='relu', input_shape=(train_data.shape[1],)))
model3.add(Dense(64, activation='relu'))
model3.add(Dense(32, activation='relu'))
model3.add(Dense(1))

# Compile the model
model3.compile(optimizer=optimizers.RMSprop(learning_rate=0.001), loss='mean_squared_error')

# Train the model
model3.fit(X_train, train_targets, epochs=100, batch_size=512, validation_split=0.1)

# Evaluate the model
model3_loss, model3_mae, model3_mse = evaluate_model(model3, test_data, test_targets)

print(f"Model 3: Loss: {model3_loss:.2f}, MAE: {model3_mae:.2f}, MSE: {model3_mse:.2f}")